* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --gradient-color: linear-gradient(to right bottom, rgba(48, 120, 255, 0.45), rgba(48, 120, 255, 0));
}
html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100vh; /* what comes after this ignore */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    grid-row-gap: 7%;
    padding: 0 0;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 0.8rem 1rem rgba(0,0,0, 0.1);
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 10px !important;
    height: fit-content !important;
}

.image-data {
    height: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    flex-basis: 220px;
}

.background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    /* background: url("../img/notes.jpg"); */
    /*transition: transform 5s;*/
}

.card:hover .background-image{
    transform: scale(1);
}

.publication-details {

    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    padding: 1rem;
}

.publication-details i {
    margin-right: 0rem;
}
.author {
  
    text-decoration: none;
    margin-top: 1px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex !important;
    height: auto;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.5s;
    }

.author:hover {
    color: rgba(255, 255, 255, 0.75);
}

.date {
    color: rgba(255, 255, 255, 0.75);
    display: block;
    margin-top: -10%;
    font-weight: 300;
    padding-top: 0px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.post-data {
    background-color: white;
    padding: 2rem 3rem;
    position: relative;
    flex-basis: 60%;
}

.title {
    font-size: 2.4rem ;
    line-height: 1 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
   
    color: rgb(162, 162, 162);
    margin: 2rem 0 0rem 0;
    
}

.description {
   
    position: relative;
    margin-top: 0px;
}



.description::first-letter {
    margin-left: 0rem;
}


.description::before {
    content: 'i';
    color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2.5rem;
    background-color: blue;
    border-radius: 1rem;
}

.cta {
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a {
    background: blue;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.cta a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 3px;
    background: blue;
    transform: scaleX(1);
}

  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: var(--to-width); }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }
  
 

  @media only screen and (min-width: 660px){
    .card {
        flex-direction: row;
        max-width: 75rem;
        margin-left: 0;
        margin-right: 0;
    }

    .image-data {
        flex-basis: 40%;
        
    }

    .publication-details {
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .card:hover .publication-details {
        transform: translateX(0);
    }


    .post-data{
        flex-basis: 60%;
    }
}